In [170]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time

Download the Chrome Webdriver from https://sites.google.com/a/chromium.org/chromedriver/downloads (make sure you download the same Chrome version driver)

And place the file at notebook location

In [171]:
driver = webdriver.Chrome(executable_path='chromedriver.exe')

In [172]:
driver.get('https://www.prokabaddi.com/standings')

In [173]:
time.sleep(5)
driver.find_element_by_xpath('//*[@id="2e6c791f-e102-49e7-9fe8-0bfb98aac1cd"]/component/div/div/div/div/div/div[1]/div/div[1]/ul/li').click()
time.sleep(1)
driver.find_element_by_xpath('//*[@id="season_selectBox_web"]/span[7]').click()
time.sleep(1)

Wait for above cell to execute

In [174]:
soup = BeautifulSoup(driver.page_source)
standings = soup.findAll('div',attrs={'class':'sipk-standing-dataRow common-standing-dataRow si-formguide-active'})

In [175]:
rank = []
team = []
play = []
won = []
lost = []
draw = []
scorediff = []
point = []

for item in standings:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

In [176]:
standing1 = pd.DataFrame({'season':1, 'rank':rank, 'team':team, 'played':play, 'won':won
                          , 'lost':lost, 'draw':draw, 'scorediff':scorediff, 'points':point})
standing1

   season rank                  team played won lost draw scorediff points
0       1    1  Jaipur Pink Panthers     14  10    3    1         0     54
1       1    2               U Mumba     14   8    3    3         0     51
2       1    3       Bengaluru Bulls     14   8    5    1         0     47
3       1    4         Patna Pirates     14   7    5    2         0     45
4       1    5         Telugu Titans     14   6    5    3         0     42
5       1    6     Dabang Delhi K.C.     14   5    8    1         0     32
6       1    7       Bengal Warriors     14   4    9    1         0     24
7       1    8         Puneri Paltan     14   2   12    0         0     17

Season - 2

In [177]:
driver.find_element_by_xpath('//*[@id="2e6c791f-e102-49e7-9fe8-0bfb98aac1cd"]/component/div/div/div/div/div/div[1]/div/div[1]/ul/li').click()
time.sleep(1)
driver.find_element_by_xpath('//*[@id="season_selectBox_web"]/span[6]').click()
time.sleep(1)

Wait for above cell to execute

In [178]:
soup = BeautifulSoup(driver.page_source)
standings = soup.findAll('div',attrs={'class':'sipk-standing-dataRow common-standing-dataRow si-formguide-active'})

In [179]:
rank = []
team = []
play = []
won = []
lost = []
draw = []
scorediff = []
point = []

for item in standings:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

In [180]:
standing2 = pd.DataFrame({'season':2, 'rank':rank, 'team':team, 'played':play, 'won':won
                          , 'lost':lost, 'draw':draw, 'scorediff':scorediff, 'points':point})
standing2

   season rank                  team played won lost draw scorediff points
0       2    1               U Mumba     14  12    2    0        40     60
1       2    2         Telugu Titans     14   8    3    3        85     50
2       2    3       Bengaluru Bulls     14   9    5    0        55     48
3       2    4         Patna Pirates     14   7    6    1       -18     41
4       2    5  Jaipur Pink Panthers     14   6    7    1        43     38
5       2    6       Bengal Warriors     14   4    9    1       -63     27
6       2    7     Dabang Delhi K.C.     14   4    9    1       -68     27
7       2    8         Puneri Paltan     14   2   11    1       -74     21

Season - 3

In [181]:
driver.find_element_by_xpath('//*[@id="2e6c791f-e102-49e7-9fe8-0bfb98aac1cd"]/component/div/div/div/div/div/div[1]/div/div[1]/ul/li').click()
time.sleep(1)
driver.find_element_by_xpath('//*[@id="season_selectBox_web"]/span[5]').click()
time.sleep(1)

Wait for above cell to execute

In [182]:
soup = BeautifulSoup(driver.page_source)
standings = soup.findAll('div',attrs={'class':'sipk-standing-dataRow common-standing-dataRow si-formguide-active'})

In [183]:
rank = []
team = []
play = []
won = []
lost = []
draw = []
scorediff = []
point = []

for item in standings:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

In [184]:
standing3 = pd.DataFrame({'season':3, 'rank':rank, 'team':team, 'played':play, 'won':won
                          , 'lost':lost, 'draw':draw, 'scorediff':scorediff, 'points':point})
standing3

   season rank                  team played won lost draw scorediff points
0       3    1               U Mumba     14  12    2    0        95     60
1       3    2         Patna Pirates     14  10    2    2       104     58
2       3    3         Puneri Paltan     14   7    4    3        92     48
3       3    4       Bengal Warriors     14   9    5    0        26     47
4       3    5         Telugu Titans     14   7    7    0       -10     38
5       3    6  Jaipur Pink Panthers     14   4    8    2       -63     28
6       3    7       Bengaluru Bulls     14   2   12    0      -102     14
7       3    8     Dabang Delhi K.C.     14   1   12    1      -142     11

Season - 4

In [185]:
driver.find_element_by_xpath('//*[@id="2e6c791f-e102-49e7-9fe8-0bfb98aac1cd"]/component/div/div/div/div/div/div[1]/div/div[1]/ul/li').click()
time.sleep(1)
driver.find_element_by_xpath('//*[@id="season_selectBox_web"]/span[4]').click()
time.sleep(1)

Wait for above cell to execute

In [186]:
soup = BeautifulSoup(driver.page_source)
standings = soup.findAll('div',attrs={'class':'sipk-standing-dataRow common-standing-dataRow si-formguide-active'})

In [187]:
rank = []
team = []
play = []
won = []
lost = []
draw = []
scorediff = []
point = []

for item in standings:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

In [188]:
standing4 = pd.DataFrame({'season':4, 'rank':rank, 'team':team, 'played':play, 'won':won
                          , 'lost':lost, 'draw':draw, 'scorediff':scorediff, 'points':point})
standing4

   season rank                  team played won lost draw scorediff points
0       4    1         Patna Pirates     14  10    4    0        14     52
1       4    2         Telugu Titans     14   8    4    2        67     50
2       4    3  Jaipur Pink Panthers     14   8    5    1        22     47
3       4    4         Puneri Paltan     14   6    6    2        23     42
4       4    5               U Mumba     14   7    6    1       -18     42
5       4    6       Bengaluru Bulls     14   5    8    1       -55     32
6       4    7     Dabang Delhi K.C.     14   4    9    1         7     29
7       4    8       Bengal Warriors     14   3    9    2       -60     26

Season - 5

In [189]:
driver.find_element_by_xpath('//*[@id="2e6c791f-e102-49e7-9fe8-0bfb98aac1cd"]/component/div/div/div/div/div/div[1]/div/div[1]/ul/li').click()
time.sleep(1)
driver.find_element_by_xpath('//*[@id="season_selectBox_web"]/span[3]').click()
time.sleep(1)

Wait for above cell to execute

In [190]:
soup = BeautifulSoup(driver.page_source)
standings = soup.findAll('div',attrs={'class':'sipk-standing-dataRow common-standing-dataRow si-formguide-active'})
qualstand = soup.findAll('div',attrs={'class':'sipk-standing-dataRow sipk-qualifyActive common-standing-dataRow si-formguide-active'})

In [191]:
rank = []
team = []
play = []
won = []
lost = []
draw = []
scorediff = []
point = []

for item in qualstand:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

for item in standings:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

In [192]:
standing5 = pd.DataFrame({'season':5, 'rank':rank, 'team':team, 'played':play, 'won':won
                          , 'lost':lost, 'draw':draw, 'scorediff':scorediff, 'points':point})
standing5

    season rank                   team played won lost draw scorediff points
0        5    1  Gujarat Fortunegiants     22  15    4    3       126     87
1        5    2          Puneri Paltan     22  15    7    0        91     80
2        5    3       Haryana Steelers     22  13    5    4        40     79
3        5    1        Bengal Warriors     22  11    5    6        19     77
4        5    2          Patna Pirates     22  10    7    5        60     71
5        5    3            U.P. Yoddha     22   8   10    4         2     60
6        5    4                U Mumba     22  10   12    0       -50     56
7        5    5   Jaipur Pink Panthers     22   8   13    1       -91     51
8        5    6      Dabang Delhi K.C.     22   5   16    1      -134     38
9        5    4        Bengaluru Bulls     22   8   11    3        10     57
10       5    5          Telugu Titans     22   7   12    3        -2     52
11       5    6        Tamil Thalaivas     22   6   14    2       -71     46

Season - 6

In [193]:
driver.find_element_by_xpath('//*[@id="2e6c791f-e102-49e7-9fe8-0bfb98aac1cd"]/component/div/div/div/div/div/div[1]/div/div[1]/ul/li').click()
time.sleep(1)
driver.find_element_by_xpath('//*[@id="season_selectBox_web"]/span[2]').click()
time.sleep(1)

Wait for above cell to execute

In [194]:
soup = BeautifulSoup(driver.page_source)
standings = soup.findAll('div',attrs={'class':'sipk-standing-dataRow common-standing-dataRow si-formguide-active'})
qualstand = soup.findAll('div',attrs={'class':'sipk-standing-dataRow sipk-qualifyActive common-standing-dataRow si-formguide-active'})

In [195]:
rank = []
team = []
play = []
won = []
lost = []
draw = []
scorediff = []
point = []

for item in qualstand:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

for item in standings:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

In [196]:
standing6 = pd.DataFrame({'season':6, 'rank':rank, 'team':team, 'played':play, 'won':won
                          , 'lost':lost, 'draw':draw, 'scorediff':scorediff, 'points':point})
standing6

    season rank                   team played won lost draw scorediff points
0        6    1  Gujarat Fortunegiants     22  17    3    2       117     93
1        6    2                U Mumba     22  15    5    2       189     86
2        6    3      Dabang Delhi K.C.     22  11    9    2        -1     68
3        6    1        Bengaluru Bulls     22  13    7    2       104     78
4        6    2        Bengal Warriors     22  12    8    2         2     69
5        6    3            U.P. Yoddha     22   8   10    4       -45     57
6        6    4          Puneri Paltan     22   8   12    2       -45     52
7        6    5   Jaipur Pink Panthers     22   6   13    3       -69     43
8        6    6       Haryana Steelers     22   6   14    2       -91     42
9        6    4          Patna Pirates     22   9   11    2       -36     55
10       6    5          Telugu Titans     22   8   13    1       -55     51
11       6    6        Tamil Thalaivas     22   5   13    4       -70     42

In [197]:
stand_df = pd.concat([standing1,standing2,standing3,standing4,standing5,standing6], ignore_index=True)

In [198]:
stand_df.head()

   season rank                  team played won lost draw scorediff points
0       1    1  Jaipur Pink Panthers     14  10    3    1         0     54
1       1    2               U Mumba     14   8    3    3         0     51
2       1    3       Bengaluru Bulls     14   8    5    1         0     47
3       1    4         Patna Pirates     14   7    5    2         0     45
4       1    5         Telugu Titans     14   6    5    3         0     42

In [199]:
outfile = open('data/standings_overall.csv', mode='w')
stand_df.to_csv('data/standings_overall.csv', mode='w', index = False, header=True)
outfile.close()

Season - 7

In [200]:
driver.find_element_by_xpath('//*[@id="2e6c791f-e102-49e7-9fe8-0bfb98aac1cd"]/component/div/div/div/div/div/div[1]/div/div[1]/ul/li').click()
time.sleep(1)
driver.find_element_by_xpath('//*[@id="season_selectBox_web"]/span[1]').click()
time.sleep(1)

Wait for above cell to execute

In [201]:
soup = BeautifulSoup(driver.page_source)
standings = soup.findAll('div',attrs={'class':'sipk-standing-dataRow common-standing-dataRow si-formguide-active'})
qualstand = soup.findAll('div',attrs={'class':'sipk-standing-dataRow sipk-qualifyActive common-standing-dataRow si-formguide-active'})

In [202]:
rank = []
team = []
play = []
won = []
lost = []
draw = []
scorediff = []
point = []

for item in qualstand:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

for item in standings:
    rank.append(item.find('div',attrs={'class':'sipk-table-col sipk-rank'}).span.text)
    team.append(item.find('div',attrs={'class':'sipk-table-col sipk-team'}).span.text)
    play.append(item.find('div',attrs={'class':'sipk-table-col sipk-play'}).span.text)
    won.append(item.find('div',attrs={'class':'sipk-table-col sipk-won'}).span.text)
    lost.append(item.find('div',attrs={'class':'sipk-table-col sipk-lost'}).span.text)
    draw.append(item.find('div',attrs={'class':'sipk-table-col sipk-drow'}).span.text)
    scorediff.append(item.find('div',attrs={'class':'sipk-table-col sipk-scoreDiff'}).span.text)
    point.append(item.find('div',attrs={'class':'sipk-table-col sipk-points'}).span.text)

In [203]:
standing7 = pd.DataFrame({'season':7, 'rank':rank, 'team':team, 'played':play, 'won':won
                          , 'lost':lost, 'draw':draw, 'scorediff':scorediff, 'points':point})
standing7

    season rank                   team played won lost draw scorediff points
0        7    1      Dabang Delhi K.C.     19  15    2    2        92     82
1        7    2        Bengal Warriors     19  12    4    3        86     73
2        7    3       Haryana Steelers     19  12    6    1        24     65
3        7    4        Bengaluru Bulls     19  10    8    1        12     58
4        7    5            U.P. Yoddha     18  10    6    2       -19     58
5        7    6                U Mumba     18   9    8    1        33     54
6        7    7   Jaipur Pink Panthers     20   8   10    2       -18     52
7        7    8  Gujarat Fortunegiants     20   6   12    2        14     45
8        7    9          Puneri Paltan     20   6   11    3       -71     42
9        7   10          Patna Pirates     19   6   12    1        -1     40
10       7   11          Telugu Titans     18   5   10    3       -39     39
11       7   12        Tamil Thalaivas     19   3   13    3      -113     30

In [204]:
stand_df = pd.concat([standing1,standing2,standing3,standing4,standing5,standing6,standing7], ignore_index=True)

In [205]:
stand_df.head()

   season rank                  team played won lost draw scorediff points
0       1    1  Jaipur Pink Panthers     14  10    3    1         0     54
1       1    2               U Mumba     14   8    3    3         0     51
2       1    3       Bengaluru Bulls     14   8    5    1         0     47
3       1    4         Patna Pirates     14   7    5    2         0     45
4       1    5         Telugu Titans     14   6    5    3         0     42

In [206]:
outfile = open('data/standings_overall.csv', mode='w')
stand_df.to_csv('data/standings_overall.csv', mode='w', index = False, header=True)
outfile.close()